In [49]:
# To bring in the libraries:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Bring in the file:
df = pd.read_csv(r"C:\Users\user\Desktop\energydata_complete.csv")

In [5]:
df.head(6)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097
5,2016-01-11 17:50:00,50,40,19.89,46.026667,19.2,44.500000,19.79,44.933333,18.890000,...,17.000000,45.29,6.016667,734.0,92.0,5.333333,43.833333,4.8,44.919484,44.919484

In [6]:
df.drop(['date','lights'], axis = 1, inplace = True)
df

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,60,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,50,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,50,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,60,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,90,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,270,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,420,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,430,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [7]:
# Normalize the df. import library
from sklearn.preprocessing import MinMaxScaler

In [8]:
scaler = MinMaxScaler()
scaled_features = [feature for feature in df.columns]
scaled_data = scaler.fit_transform(df)
transformed_df = pd.DataFrame(data = scaled_data, columns = scaled_features)

In [9]:
transformed_df

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.327350,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.327350,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.327350,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.327350,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.327350,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,0.084112,0.926786,0.537657,0.711655,0.606309,0.830841,0.579374,0.864865,0.765258,0.752031,...,0.864724,0.729443,0.891747,0.602326,0.416667,0.238095,0.348718,0.901961,0.861981,0.861981
19731,0.074766,0.919747,0.536006,0.701769,0.607836,0.825302,0.582178,0.864865,0.765258,0.754897,...,0.864724,0.729443,0.887460,0.602326,0.421053,0.250000,0.361538,0.900452,0.985726,0.985726
19732,0.242991,0.919747,0.538666,0.692651,0.627198,0.818378,0.603988,0.864865,0.771233,0.754897,...,0.864724,0.729443,0.883173,0.602326,0.425439,0.261905,0.374359,0.898944,0.583979,0.583979
19733,0.383178,0.919747,0.549491,0.677054,0.634717,0.805085,0.585294,0.864865,0.773794,0.752031,...,0.864724,0.730581,0.878885,0.602326,0.429825,0.273810,0.387179,0.897436,0.126371,0.126371
19734,0.392523,0.919747,0.538758,0.666171,0.632902,0.799546,0.579062,0.864865,0.781192,0.752031,...,0.864724,0.731719,0.874598,0.602326,0.434211,0.285714,0.400000,0.895928,0.682391,0.682391

In [10]:
# slipt transformed_df
x = transformed_df.drop('Appliances', axis = 1)
y = transformed_df[['Appliances']]

In [11]:
# No 17.
# Sampled features:
sampled_data = x
pulled_data = sampled_data[['T2', 'T6']]
pulled_data

             T2        T6
0      0.225345  0.381070
1      0.225345  0.375443
2      0.225345  0.367487
3      0.225345  0.363800
4      0.225345  0.361859
...         ...       ...
19730  0.711655  0.898317
19731  0.701769  0.880852
19732  0.692651  0.864260
19733  0.677054  0.829525
19734  0.666171  0.788580

[19735 rows x 2 columns]

In [44]:
from sklearn.model_selection import train_test_split
# Reshape the arrays for compatibility:
# Split them:
x1 = pulled_data['T2'].values.reshape(-1,1)
y1 = pulled_data['T6'].values.reshape(-1,1)
x1_train, x1_test, y1_train, y1_test = train_test_split(x1, y1, test_size = 0.3, random_state = 42)

In [45]:
y1_pred = lin_model.predict(x1_test)
y1_pred

C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

ValueError: X has 1 features, but LinearRegression is expecting 26 features as input.

In [18]:
# Train, using Linear Regressor
from sklearn.linear_model import LinearRegression
lin_model =  LinearRegression()
lin_model.fit(x1_train, y1_train)

LinearRegression()

In [21]:
# mean_square_ error
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y1_test, y1_pred)
rmse = np.sqrt(mse)
print(f'Root Mean Square Error: {rmse:.3f}')

Root Mean Square Error: 0.106

In [22]:
# No 18
lin_model =  LinearRegression()
lin_model.fit(x_train, y_train)

LinearRegression()

In [24]:
y_pred = lin_model.predict(x_test)
y_pred

array([[0.03322207],
       [0.24411599],
       [0.03400024],
       ...,
       [0.06844707],
       [0.10032325],
       [0.05722198]])

In [37]:
# No.18
# Mean Absolute Error (MAE)
from sklearn.metrics import mean_absolute_error
MAE = mean_absolute_error(y_test, y_pred)
print(f"Mean Absolute Error: {MAE:.3f}")

Mean Absolute Error: 0.050

In [27]:
# No.19
# mean_square_ error
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print(f"Root Mean Square Error: {rmse:.3f}")

Root Mean Square Error: 0.088

In [30]:
# 20.
# Mean Absolute Error (MAE)
from sklearn.metrics import mean_absolute_error
MAE = mean_absolute_error(y_test, y_pred)
print(f"Mean Absolute Error: {MAE:.3f}")

Mean Absolute Error: 0.050

In [31]:
# No 22.
# seen data
seen_data_score = lin_model.score(x_train, y_train)
print(f'SDS: {seen_data_score:.3f}')

SDS: 0.145

In [32]:
# unseen data
unseen_data_score = lin_model.score(x_test,y_test)
print(f'UDS: {unseen_data_score:.3f}')

UDS: 0.149

In [33]:
# No 23.

# performing ridge regression at alpha = 0.4
from sklearn.linear_model import Ridge
ridge_model = Ridge(alpha = 0.4)
ridge_model.fit(x_train, y_train)
ridge_model.coef_

array([[-0.01840621,  0.5195253 , -0.20139673, -0.41107123,  0.28808681,
         0.0951346 ,  0.02738389,  0.02457853, -0.01985322,  0.01615237,
         0.21729178,  0.03551862,  0.01009781, -0.04597696,  0.10102815,
        -0.15683005, -0.1889163 , -0.04136654, -0.26217227,  0.00658387,
        -0.05472365,  0.03026762,  0.01207649,  0.08312757,  0.00074817,
         0.00074817]])

In [35]:
#  root mean_square_ error
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print(f'Root Mean Square Error: {rmse:.3f}')

Root Mean Square Error: 0.088

In [ ]:
# Ridge Regression 
def weights(model, feat, col_name):
    # Flatten the coefficients array:
    coef_flat = ridge_model.coef_.flatten()
    
    # Create a Series with feature names as index and coefficients as values:
    wt= pd.Series(coef_flat, feat.columns).sort_values()
    
    # Create a DataFrame from the Series:
    wt_df=pd.DataFrame(wt).reset_index()
    wt_df.columns =['features', col_name]
    return wt_df