In [1]:
# To bring in the libraries
import pandas as pd
import numpy as np

In [2]:
# Full path of the file:
file_path = r"C:\Users\user\Desktop\data source\household_power_consumption.txt"

# Read the file into a DataFrame:
df = pd.read_csv(file_path, delimiter=';', low_memory=False)

# To see top end of file:
df.head(7)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0
5,16/12/2006,17:29:00,3.520,0.522,235.020,15.000,0.000,2.000,17.0
6,16/12/2006,17:30:00,3.702,0.520,235.090,15.800,0.000,1.000,17.0

In [3]:
# To check for missing values
df.isnull().sum()

Date                         0
Time                         0
Global_active_power          0
Global_reactive_power        0
Voltage                      0
Global_intensity             0
Sub_metering_1               0
Sub_metering_2               0
Sub_metering_3           25979
dtype: int64

In [4]:
# To check the shape
df.shape

(2075259, 9)

In [5]:
# since the missing values are about 1.25% of the dataset we drop them
df.dropna(inplace = True)

In [6]:
# To confirm the operation
df.isnull().sum()

Date                     0
Time                     0
Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
dtype: int64

In [7]:
# train, test
from sklearn.model_selection import train_test_split

In [8]:
#'dt' column (datetime format)
df['dt'] = pd.to_datetime(df['Date'] + ' ' + df['Time'])

# Selecting 'dt' as the time column and 'Global_active_power' as the target variable ('y')
data = df[['dt', 'Global_active_power']].copy()

C:\Users\user\AppData\Local\Temp\ipykernel_10036\2058125126.py:2: UserWarning: Parsing dates in %d/%m/%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['dt'] = pd.to_datetime(df['Date'] + ' ' + df['Time'])

In [9]:
# index to split the data
split_index = len(data) - 300

# Split the data into train and test sets
train = data.iloc[:split_index]
test = data.iloc[split_index:]

In [10]:
# Print the shapes of train and test sets
print(f"Train set shape: {train.shape}")
print(f"Test set shape: {test.shape}")

Train set shape: (2048980, 2)
Test set shape: (300, 2)

In [11]:
# install prophet
!pip install prophet
from prophet import Prophet

Requirement already satisfied: prophet in c:\users\user\anaconda3\lib\site-packages (1.1.5)
Requirement already satisfied: cmdstanpy>=1.0.4 in c:\users\user\anaconda3\lib\site-packages (from prophet) (1.2.4)
Requirement already satisfied: numpy>=1.15.4 in c:\users\user\anaconda3\lib\site-packages (from prophet) (1.24.3)
Requirement already satisfied: matplotlib>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from prophet) (3.7.2)
Requirement already satisfied: pandas>=1.0.4 in c:\users\user\anaconda3\lib\site-packages (from prophet) (2.0.3)
Requirement already satisfied: holidays>=0.25 in c:\users\user\anaconda3\lib\site-packages (from prophet) (0.51)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\user\anaconda3\lib\site-packages (from prophet) (4.65.0)
Requirement already satisfied: importlib-resources in c:\users\user\anaconda3\lib\site-packages (from prophet) (6.4.0)
Requirement already satisfied: stanio<2.0.0,>=0.4.0 in c:\users\user\anaconda3\lib\site-packages (from cmdstanpy>=1.0.4->prophet) (0.5.0)
Requirement already satisfied: python-dateutil in c:\users\user\anaconda3\lib\site-packages (from holidays>=0.25->prophet) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.0.4->prophet) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.0.4->prophet) (2023.3)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from tqdm>=4.36.1->prophet) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil->holidays>=0.25->prophet) (1.16.0)

In [12]:
# Initialize Prophet model
model = Prophet()

# Rename the columns to 'ds' and 'y' as required by Prophet
train.rename(columns={'dt': 'ds', 'Global_active_power': 'y'}, inplace=True)
test.rename(columns={'dt': 'ds', 'Global_active_power': 'y'}, inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_10036\348980871.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.rename(columns={'dt': 'ds', 'Global_active_power': 'y'}, inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_10036\348980871.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.rename(columns={'dt': 'ds', 'Global_active_power': 'y'}, inplace=True)

In [ ]:
# Fit the model on the training data
model.fit(train)

20:30:15 - cmdstanpy - INFO - Chain [1] start processing